{% extends "default.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="login">
        <form id="login">
            <div class="container">
                <h1>Log In</h1>
                <p>Please fill in this form to Log In.</p>
                <hr>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="pseudo" id="username" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="password" required>
                <hr>
                <button type="submit" class="registerbtn">Log In</button>
            </div>
            <div class="container signin">
                <p>no account already ? <a href=/register>Sign in</a>.</p>
            </div>
        </form>
    </div>
{% endblock %}
