{% extends "../default.twig" %}
{% block title %}Index{% endblock %}
{% block head %}
    <style>

        .mySlides {
            font-family: "Lato", sans-serif;
            display: none
        }

        .like-content span {
            color: #9d9da4;
            font-family: monospace;
        }

        .like-content .btn-secondary {
            display: block;
            margin: 40px auto 0px;
            text-align: center;
            background: #ed2553;
            border-radius: 3px;
            box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
            padding: 10px 17px;
            font-size: 18px;
            cursor: pointer;
            border: none;
            outline: none;
            color: #ffffff;
            text-decoration: none;
            -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
        }

        .like-content .btn-secondary:hover {
            transform: translateY(-3px);
        }

        .like-content .btn-secondary .fa {
            margin-right: 5px;
        }

        .animate-like {
            animation-name: likeAnimation;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-duration: 0.65s;
        }

        @keyframes likeAnimation {
            0% {
                transform: scale(30);
            }
            100% {
                transform: scale(1);
            }
        }
    </style>
    <body>
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    </div>
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
        <div class="w3-row w3-padding-32">
        </div>
        <div d="tour">
            <div class="list-box">
                <div class="box">
                    <div class="photo">
                        <img src="https://media.istockphoto.com/vectors/neutral-profile-picture-vector-id1091291084?k=6&m=1091291084&s=170667a&w=0&h=2Dx_R7emqSPjyLcvTRaPqXzbf4RP37hJf9DjUPD65lk="
                             alt="">
                    </div>
                    <div class="content">
                        <div class="title">
                            <h1>pseudo</h1>
                        </div>
                        <div class="txt">
                            <p> contenue texte du message</p>
                            <div class="like-content">
                                <button class="btn-secondary like-review">
                                    <i class="fa fa-heart" aria-hidden="true"></i> Like
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Ynov</a>
        </p>
    </footer>


    </body>
    </html>

{% endblock %}