<header class="w3-top">
    <div class=" w3-black w3-card menu">
        <div class="header-left">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
               href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <div class="search w3-bar-item w3-hide-small" aria-placeholder="Search pol">
                <input type="text" placeholder="search">
            </div>
            <i class="fa fa-search"></i>
        </div>
        <div style="align-items: center">
            <img style="width: 200px; height: auto" src="static/img/logo_large.png" />
        </div>
        <div class="header-right">
            <a href="/write_message" class="w3-bar-item w3-button w3-padding-large">NEW MESSAGE</a>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-padding-large w3-button" title="More">JOIN US<i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/register" class="w3-bar-item w3-button">Register</a>
                    <a href="/connect" class="w3-bar-item w3-button">Connect</a>
                </div>
            </div>
        </div>
    </div>
</header>
